

#header {
    width: 100%;
    height: 60px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
}

#footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
}